{% extends 'base.html' %}

{% block head %}
<title>Confirm</title>
<link rel="shortcut icon" href="../favicon.ico"> 
<link rel="stylesheet" type="text/css" href="static/css/style2.css" />
{% endblock %}

{% block body %}
<div class="container">
    <section>				
        <div id="container_demo" >
            <div id="wrapper">
                <div id="login" class="animate form">
                        <h1 >Profile confirmed</h1>
                </div>
            </div>
        </div>  
    </section>
</div>


{% endblock %}